
  @font-face {
    font-family: 'Neue Montreal';
    font-weight: bold;
    src: url('Neue Montreal/NeueMontreal-Bold.woff') format('truetype');
    
 }


html, body {
    
   
    margin: 0;
   font-family: 'Neue Montreal';
  height: 100vh;
  }



  h1{
    font-size: 2rem;
    padding: 0%;
    margin: 0%;
    line-height:2rem;
  
  }

  .page2 {
    margin: 0;
   
    overflow: hidden;
    height:100%;
  }

  p{
    padding: 0%;
    margin: 0%;
    margin-bottom: 15px;
  }

  h5{
    font-size: x-small;
  }
  
  h2{
    padding: 0%;
    margin: 0%;
    
  }
 
  
  img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: flex;
    display:inline-flex;
  
  }
  iframe{
 margin:0;
    width: 38vw;
    height: 38vw;
    display:inline-flex;
  border-style: none ;
  }

  /* .container{
    
    min-height: 100vh;
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    
    
    column-gap: 30px;
    row-gap: 30px;
    margin: 20px 30px 30px 30px;

  } */

  #container-gallery{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
  
    column-gap: 30px;
    row-gap: 30px;
    margin: 20px 30px 30px 30px;
  }

  #container-mainpage{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows:  repeat(2, 1fr);
    
    column-gap: 30px;
    row-gap: 30px;
    margin: 20px 30px 30px 30px;
    
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  #container-homepage{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin: 30px;
  }

  .griditem{
     border: 4px;
     
  }
  .line-break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
  
  }

  #griditem-fixed{
    width: 50vw;
    grid-column: span 2;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(1, fr);
  }



  .gridgallery{
    grid-column:  3/ span 3;
    display: grid;
    grid-template-columns:  repeat(10, 1fr);
   grid-template-rows: repeat(26, 1fr);
    row-gap: 0px;
    column-gap: 15px;
    /* grid-column: 3 / span 3;
    display: flex;
  flex-flow: row wrap; */
  filter: invert();
  }

  #gridgallery-text{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
   /* position: fixed; */
  }


  .gridsubitem{
   width: 100%;
  }

  #p5sketch{
    grid-column-start: 4;
  grid-column-end: span 2;
   
  }


  #mobile-menu{
    display:none;
  }

  a{
    color: #0000ff;
    text-decoration: none;
  }
  a:hover{
    color: #00ff00;
  }

  .callout{
    color: #ff0000;
  }

  @media only screen and (max-width: 768px){
    body{
      
    }
    .griditem{
      border: 4px;
      /* background-color: #0000ff; */
   }

   #container-mainpage{
    height: 100vh;
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    grid-template-rows:  repeat(6, 1fr);
    
    column-gap: 30px;
    row-gap: 30px;
    margin: 20px 30px 30px 30px;
    
  }
 

  #mobile-menu{
    grid-column-start: 4;
    grid-column-end: span 2;
    grid-row-start: 1;
    display: contents;
  }

  #p5sketch{
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 2;
  }

  iframe{
    margin:0;
       width: 88vw;
       height: 88vw;
       display:inline-flex;
     border-style: none ;
     }

  #title{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
  }

  #instructions{
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 3;
  }

  #about{
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 5;
  }

  #container-gallery{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
  
    column-gap: 30px;
    row-gap: 30px;
    margin: 20px 30px 30px 30px;
  }

  #gridgallery{
    grid-column: 3 / span 3;
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
   
  }
   
  }

  #display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }

