
  @font-face {
    font-family: 'Neue Montreal';
    src: url('Neue Montreal/NeueMontreal-Bold.woff') format('truetype');
    font-weight: 100;
 }

html, body {
    
   
    margin: 0;
   font-family: 'Neue Montreal';
  }

  
  

  .page2 {
    margin: 0;
   
    overflow: hidden;
    height:100%;
  }
  
  @media (min-width: 768px){
    #left {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
      width: 15%;
      /* overflow-y: scroll;  */
    }
  
    #middle {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 15%;
      width: 20%;
      overflow-y: scroll; 
    }
    
    #right {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      left: 35%;
      width: 65%;
    }
  }
  
  #left {
    
 
    height:100%;
    
  }
  
  #middle{
    height:100%;
    width: 20%;
    display: inline-block;
  }
  
  #right {
    height:100%;
    
    padding: 1rem;
  }
  

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
   
    
  }
  .column{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex: 1;
  }
  
  img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: flex;
    display:inline-flex;
  
  }